// COLORS
$primary-color: #29A19C;
$secondary-color: #71d693;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #F8F6E3;

$dark-blue-text: #001F3F; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
